.loginContainer {
  margin: 0 auto;
  width: 100%;
  max-width: 600px;
  padding: 20px;
  text-align: center;
}

.loginContainer > h2 {
  margin-top: 25px;
  margin-bottom: 10px;
}

.twitterLogo {
  color: var(--twitter-color);
  font-size: 2.6rem !important;
}

.inputContainer {
  width: 100%;
  padding: 5px 10px;
  background-color: rgb(245, 248, 250);
  margin: 20px 0;
  text-align: left;
  border-bottom: 2px solid rgb(101, 119, 134);
  font-family: inherit;
}

.inputContainer:focus-within {
  border-color: var(--twitter-color);
}

.inputContainer:focus-within > label {
  color: var(--twitter-color);
}

.inputContainer > label {
  color: rgb(101, 119, 134);
  display: block;
  font-size: 0.9rem;
}

.inputContainer > input {
  padding-top: 5px;
  border: none;
  width: 100%;
  background-color: rgb(245, 248, 250);
  font-size: 1.25rem;
}

.inputContainer > input:focus {
  outline: none;
}

.loginButton {
  width: 100%;
  padding: 14px;
  background-color: var(--twitter-background);
  margin: 10px auto;
  border: 1px solid var(--twitter-background);
  font-weight: bold;
  font-size: 1rem;
  border-radius: 25px;
  color: white;
  cursor: pointer;
  margin-bottom: 20px;
}

.loginButton:focus {
  outline: none;
}

.links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.links > span {
  padding: 0 5px;
}

.links > a {
  color: var(--twitter-background);
  font-size: 1rem;
  text-decoration: none;
}
