.loginContainer {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginForm {
  margin: 0 auto;
  width: 100%;
  max-width: 600px;
  padding: 20px;
  text-align: center;
  border: 1px solid var(--twitter-background);
  border-radius: 20px;
}

.loginForm > h2 {
  margin-top: 25px;
  margin-bottom: 10px;
}

.twitterLogo {
  color: var(--twitter-color);
  font-size: 2.5rem !important;
}

.loginButton {
  width: 100%;
  padding: 14px;
  background-color: var(--twitter-background);
  margin: 10px auto;
  border: 1px solid var(--twitter-background);
  font-weight: bold;
  font-size: 1rem;
  border-radius: 25px;
  color: white;
  cursor: pointer;
  margin-bottom: 20px;
}

.loginButton:focus {
  outline: none;
}

.links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.links > span {
  padding: 0 5px;
}

.links > a {
  color: var(--twitter-background);
  font-size: 1rem;
  text-decoration: none;
}
